body{
    background-color: #f6f6f6;
    font-family:  'Montserrat', sans-serif;
    color: #393939;
}

header{
    width: 100%;
    position: fixed;
    z-index: 100;
}

.card-body{
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .30em !important;
}

.wrapper {
    width: 100%;
    margin: auto;
    overflow:hidden;
}

.contenido{ padding-top: 60px;}

.bg{ background-color: rgb(255, 255, 255);}

.cambio{ opacity: 1;}

.cambio:hover{ opacity: .9;}

.cursor-pointer{ cursor: pointer;}

.rounded-bottom{ border-radius: 0px 0px 40px 40px !important;}

.rounded-top{ border-radius: 40px 40px 0px 0px !important;}

.color{ background-color: #fff;}

.logo{
    background-image: url(Images/Logo-black.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 125px;
}

.logowhite{
    background-image: url(Images/Logo-yellow.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 125px;
    filter: grayscale(100%);
}

.banner{
    width: 100%;
    height: 610px;
    background-image: url(Images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll
}

.navbar-toggler{
    background-image: url(Images/menu-light.png);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    border-color: transparent !important;
}

.navbar-toggler:hover{
    opacity: .9;
}

h1{
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}

h2{
    font-size: 35px;
    letter-spacing: 5px;
    color: #fff;
}

h3{
    font-size: 45px;
    letter-spacing: 3px;
}

h5{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    margin: 0;
}

h6{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

a{
    font-size: 30px;
    letter-spacing: 5px;
}

p{
    font-size: 19px;
    margin: 0;
}

.sc{ box-shadow: 3px 20px 20px 5px rgba(194, 194, 194, 0.664);}

.nav-link{ color: #393939;}

.nav-link:hover{
    color: #181818;
    text-decoration: underline;
}

.nav-link:focus{
    color: #181818;
    text-decoration: underline;
}

.cross{ opacity: .6;}

.cross:hover{ opacity: 2;}

.btn{ 
    background-color: #393939; 
    color: #fff;
}

.btn:hover{ 
    background-color: rgb(82, 82, 82);
    color: #fff;
}

.Carrito{
    background-image: url(Images/carrito-white.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.bg-card{ background-color: #fee799;}

.max-w{
    max-width: 60px;
}

.min-w{
    min-width: 340px;
}

.hover:hover{
    background-color: #414243;
}

h7{
    font-size: 20px;
    font-weight: 300;
    color: #23262f;
}



/*********************** MODO DARK **************************/

body.dark{ 
    background: #393939;
    color: #fff;
}

body.dark .bg{ background-color: #393939;}

body.dark .Amarillo{ background-color: #020814;}

body.dark .black{ background-color: #fee799;}

body.dark .nav-link{ color: #fee799;}

body.dark .nav-link:hover{ color: #fee799;}

body.dark .nav-link:focus{ color: #fee799;}

body.dark .logo{ background-image: url(Images/Logo-yellow.png);}

body.dark .banner{ background-image: url(Images/bg-desktop-dark.jpg);}

body.dark h1{ color: #c7c7c7;}

body.dark h2{ color: #c7c7c7;}

body.dark .Degradado{ background: linear-gradient(#020814 45%, #23262f 45%) border-box}

body.dark .color{ background-color: #020814;}

body.dark h3{ color: #fee799;}

body.dark .text-white{ color: #020814 !important;}

body.dark .sc{ box-shadow: 3px 20px 20px 5px rgba(16, 16, 16, 0.664);}

body.dark .btn{ 
    background-color: #fee799;
    color: #393939;
}

body.dark .btn:hover{ background-color: #ffdf6cdb;}

body.dark .Carrito{ background-image: url(Images/carrito-black.png);}

body.dark .bg-card{ background-color: #23262f;}

body.dark .border-bottom{
    border-bottom: 1px solid #414243 !important;
}

body.dark h6{ color: #393939;}

body.dark .logowhite{ background-image: url(Images/Logo-black.png);}

body.dark h7{ color: #fee799;}

body.dark .hover:hover{ background-color: #ffdf6cdb;}

body.dark .navbar-light .navbar-nav .nav-link {
    color: #fee799;
}

body.dark .navbar-toggler{
    background-image: url(Images/menu-dark.png);
    background-repeat: no-repeat;
}

button{
    border: 0px;
    background-color: transparent;
}

/*colores*/

.Amarillo{ background-color: #fee799;}
.black{ background-color: #393939;}
.Degradado{ background: linear-gradient(hsl(0, 0%, 100%)45%, #fee799 45%) border-box}

@media (max-width: 560px) {

    .banner{
        background-image: url(Images/bg-mobile-light.jpg);
        background-repeat: no-repeat;
    }

    h1{
        font-size: 70px;
    }

    h2{
        font-size: 100px;
        letter-spacing: -8px;
        font-weight: 400;
    }

    h3{
        font-size: 35px;
    }

    h4{
        font-size: 13px;
    }

    .px-6{
        padding-left: 20px;
        padding-right: 20px;
    }

    h6{
        font-size: 18px;
    }

    a{
        font-size: 20px;
    }

    body.dark .banner{
        background-image: url(Images/bg-mobile-dark.jpg);
        background-repeat: no-repeat;
    }

}
